.es-experience-button-row {
  width: 100vw;
}

.es-experience-button {
  height: 80px;
  line-height: 80px; /* needs to be the same as height */
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .es-experience-button {
    margin: 10px 30px;
  }
}

.es-experience-button:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.es-experience-container {
  font-family: "Georgia";
  background-color: #f8f9fa;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 0px 50px;
}

.es-experience-detail-img {
  border: 3px solid #000000;
  max-width: 190px;
  max-height: auto;
}

.es-experience-detail-text {
  text-align: left;
}

.es-experience-detail-text-header {
  font-size: 14px;
}

@media (max-width: 767px) {
  .es-experience-detail-text-header {
    text-align: center;
  }
}

.es-experience-detail-text-position {
  font-weight: bold;
  font-size: 20px;
}

.es-experience-met-img {
  max-width: 200px;
  max-height: auto;
}

.es-experience-rob-arm-img {
  max-width: 200px;
  max-height: auto;
}