html {
  background: rgba(173,216,230,1); 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body { 
  background: rgba(173,216,230,1); 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

/*** HEADER STYLES ***/
.es-header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Georgia";
}

.es-header-name {
  position: relative;
  font-size: 70px;
  letter-spacing: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.es-header-link {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-nav {
  align-content: center;
  text-align: center;
  padding: 0px 10px;
  border-radius: 50px;
}

.navbar-nav > a {
  font-size: 18px;
  letter-spacing: 3px;
  padding: 0px 30px;
  margin: 0px 30px;
}

.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
}

.es-header-profile-image {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 60%;
}

@media (min-width: 720px) {
  .es-header-profile-image {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    max-height: 45%;
  }
}

@media (min-width: 960px) {
  .es-header-profile-image {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    max-height: 35%;
  }
}


/*** ABOUT STYLES ***/
.es-about-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  font-family: "Georgia";
}

.es-about-title {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  font-size: 44px;
  padding-top: 50px;
}

.es-about-intro {
  padding: 0px 0px 20px 0px;
}

.es-about-intro-text {
  padding: 20px 60px 60px 60px;
  text-align: justify;
}

.es-about-greenies {
  margin: 0px;
  padding: 20px 40px;
  overflow-x: hidden; 
  position: relative;
  width: 100vw;
  min-height: 500px;
  background: url("./assets/img/greenies-bow.jpg") no-repeat fixed center top / cover;
  z-index: 0;
}

.es-about-greenies-overlay {
  padding: none;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.es-about-greenies-text {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 60px;
  color: white;
  text-align: justify;
  z-index: 2;
}

/*.es-about-video {
  /*position: relative;* /
  margin-bottom: 100px;
  padding-bottom: 56.25%; /* 16:9 * /
  padding-top: 25px;
  /*height: 0;* /
  z-index: 3;
}*/

/*.es-about-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}*/


/*** EXPERIENCE STYLES ***/
.es-experience-collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 20px;
  margin: 10px 50px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 15px;*/
}

.active, .es-experience-collapsible:hover {
  background-color: #555;
}

.es-experience-collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.es-experience-collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.es-experience-container {
  font-family: "Georgia";
  background-color: rgba(248,249,250,1);
  justify-content: center;
  text-align: center;
  /*padding: 20px;*/
  margin: 0px 50px;
}

.es-experience-detail-img {
  border: 3px solid rgba(0,0,0,1);
  max-width: 190px;
  max-height: auto;
}

.es-experience-detail-text {
  text-align: left;
}

.es-experience-detail-text-header {
  font-size: 14px;
}

@media (max-width: 767px) {
  .es-experience-detail-text-header {
    text-align: center;
  }
}

.es-experience-detail-text-position {
  font-weight: bold;
  font-size: 20px;
}


/*** CONTACT STYLES ***/
.es-contact-link-icon {
  width: 45px;
  height: 45px;
}


/*** APP STYLES ***/
.es-app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Georgia";
}

.es-app-title {
  font-size: 44px;
  letter-spacing: 10px;
  color: #000066;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0px 15px 0px;
}